<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <style>
      body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #007bff;
}

    </style>
</head>
<body>
    <div class="dashboard-container">
        <h2>Demandes d'admission en attente</h2>
        <table>
            <thead>
                <tr>
                    <th>Demandeur</th>
                    <th>Date de Soumission</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    {% if demande.statut_demande == 'En Attente' %}
                        <tr>
                            <td>{{ demande.demandeur }}</td>
                            <td>{{ demande.date_Soumision }}</td>
                            <td>
                                <a href="{% url 'traite_demande' demande.id %}">Voir détails</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if demande.statut_demande != 'En Attente' and demandes|length == 0 %}
                    <tr>
                        <td colspan="3" style="text-align: center">
                            Aucune demande en attente.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>
